.RangeNumberCombo {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
        
    }

    input[type="number"] {
        
    }

    input[type="range"] {
        
    }
}